<div id='grid-container' style="width:100%;height:100%;"></div>
<script>
function initial(str){
  const regex = /(\w)\w*/gm;
  let m;
  let hasil = '';

  while ((m = regex.exec(str)) !== null) {
	  if (m.index === regex.lastIndex) {
	           regex.lastIndex++;
             }
	  m.forEach((match, groupIndex) => {
		if( match.length == 1 ) {
		 hasil = hasil + match;
		}
	 //  console.log(`Found match, group ${groupIndex}: ${match}`);
	      });


  } 
 return hasil;
}

const urldaysale = "/data/view/sales/";
const urldaytrans = "/data/view/itemtrans/";
const urlsumsales = "/data/view/sumsales/";

/*
let textemplate = `<div class="webix_strong">Miku Coffee </div>${tgli}<br>
<p>Contact WA: 0812 800 88681</p>
<p>User : ${loginsession.name}</p>
<Br>`
*/

const dtviewsalestemplate = (obj) => {
  let hasil = `<div class="webix_strong">Miku Coffee </div>${tgli}<br>
<p>Contact WA: 0812 800 88681</p>
<p>User : ${loginsession.name}</p>
`
 hasil += "Total : <b>" + webix.i18n.numberFormat(obj.sales || 0) + "</b>";
 
 return hasil;     
}

const dtviewsales =
 { view: "dataview",
   id: "dtviewsales", 
   url: "myProxy->" + urlsumsales + tgliso , 
   template: dtviewsalestemplate,
   type: { width: 150, height: 250 } };

const dvfunc = function(obj){
  let hasil = "";
  hasil = "ID : " + obj.id + "<div class=\"webix_strong\">" + obj.text + "</div>";
  hasil = hasil + "Status : " + obj.status + "<br>";
  hasil = hasil + "Jumlah : " + obj.jmlitems + "<br>";
  hasil = hasil + "Total : " + webix.i18n.numberFormat(obj.total || 0)  
  return hasil;
}

const clmn =
      [{id: "itemdesc", width:180,header: "Nama Item", 
                     template: function(obj){return obj.itemdesc + " (" + initial(obj.itemdesc) + ")"}},
        {id: "qty",  css:{'text-align':'right'},  footer: { content: 'summColumn',css:{'text-align':'right'}},
                     header : { text: "Qty", css:{'text-align':'right'} }, sort: "int" },
        {id: "itemprices", header : { text: "Harga", css:{'text-align':'right'} } , 
                     numberFormat: "1,111.00",css:{'text-align':'right'}, sort: "int"},
        {id: "total" , header: { text: "Total", css:{'text-align':'right'} }, 
         footer: { content: 'summColumn',css:{'text-align':'right'}},
         numberFormat: "1,111.00", css:{'text-align':'right'}, sort: "int"}
      ]

const barline =
      {
  view:"chart",
  id: "barchart",
  minWidth:300,
  height:220,
  type:"line",
  value:"#omzet#",
  tooltip: { template: "#tgl#" },
  item:{
    borderColor: "#1293f8",
    color: "#ffffff"
  },
  line:{
    color:"#1293f8",
    width:3
  },
  xAxis:{
    template: function(obj){
      return obj.id; //initial(obj.itemdesc);
    }
  },
  offset:0,
  yAxis:{
    start: 0,
    end: 500000,
    step: 50000,
    template:function(obj){
      return (obj%20?"":obj)
    }
  },
  url: "myProxy->/data/view/graphomzet"
}


let dtshow =
    { view: "dataview",
      id: 'dtshow',
      url: "myProxy->"+urldaysale+tgliso, 
      xcount: 5,
      ycount: 2,
     type: { width: 122, height: 150 },
     template : dvfunc, 
    }

let viewall = { view: "datatable",
      id : "viewtrans",
      url: "myProxy->"+urldaytrans+tgliso,
      footer: true,
      math: true,
      width: 540,
      columns: clmn }


let viewomzet =     { view: "datatable", 
      minWidth: 380,
      id: "vomzet",
      footer: true,
      math: true,
      url: "myProxy->/data/view/omzet",
      columns: [
         {id:"itemdesc", width: 180,header: "Nama Item"},
         {id:"qty", width: 30, header: "Qty" , sort: "int"},
         {id:"omzet", header: { text: "Total Omzet",css:{'text-align':'right'} },
                      numberFormat: "1,111.00",
                      css:{'text-align':'right'}, sort: "int",
                      footer: { content: 'summColumn',css:{'text-align':'right'}}}]
                      }
    

let dashboard = {
  view: "dashboard",  
  gridColumns: 5,
  gridRows: 2,
  minHeight: 450,
  id : "dashboard1",
  fillspace: true,
  cells: [{view: "panel", header: "Penjualan hari ini", 
           x:0 , y:0 , dx:1, dy:1, 
           body: dtshow},
          {view: "panel", header: "Graphic Penjualan", x:1 , y:0 , dx:2.5, dy:1, 
           body: barline },
          {view: "panel", x:0 , y:1 , dx:1, dy:1, body: dtviewsales} ,
          {view: "panel", x:1 , y:1 , dx:2.5, dy:1, body: viewall },
          {view: "panel" , x:3.5 , y:0 , dx: 1.5, dy: 2 , body: viewomzet }
         ]
}

const topdf = function(){
  webix.toExcel($$("viewtrans"));
}

let tb = 
{ view: "toolbar",
  id: "tb1",
  cols : [{ type: "section", width: 220,  template : "Silahkan pilih Tanggal : "} , 
          { view: "datepicker", id: "tglpilih" , value : tglhariini , width: 120 },
          { view: "button" ,width:35 , click: topdf, type: "iconButton", icon: "wxi-download"},
           ]}

webix.ui({
  view: "panel",
  container: "grid-container",
  minHeight: 600,
  rows : [tb,dashboard]
})

webix.ready(function(){
$$("tglpilih").attachEvent("onChange", function(newv, oldv){
    let tgl = formatdate(newv);
   // $$("barchart").clearAll();
  //  $$("barchart").load("myProxy->"+urldaytrans+tgl)

    $$("dtshow").clearAll();
    $$("dtshow").load("myProxy->"+urldaysale+tgl);

    $$("viewtrans").clearAll();
    $$("viewtrans").load("myProxy->"+urldaytrans+tgl)

    $$("dtviewsales").clearAll();
    $$("dtviewsales").load("myProxy->" + urlsumsales + tgl);
    
});


});


</script>