<div id='grid-container'></div>
<script>
const tinggi = 0;
const localurl = "/data/item";
const frmitemEl =  [{ 
       view: "text",
       name: "itemdesc",
       label: "Nama Produk : ",
       labelWidth: 100},
       {view: "text",
       name: "itemprices",
       label: "Harga : ",
       labelWidth: 100},
       {view: "text",
       name: "itemhpp",
       label: "harga dasar : ",
       labelWidth: 100},
       {view: "text",
       name: "itemunit",
       label: "Satuan : " , 
       width: 170,
       labelWidth: 100},
       {view:"richselect", 
       name:"posigrpId",
       width: 250, 
       label:"Group : ",
       labelWidth: 100, 
       options:"/data/itemopt" }
                  ];

const lst1 = { view: "list" , header: "browse" , id: "lst1" ,
      type : { height : 85 },
      template : "#itemdesc#&nbsp;&nbsp;#itemprices#<p>Group : #posigrpId#</p>",
      url: localurl,
      save: "rest->" + localurl, 
      select: true
    }

const kliksave = function(){
  
  (function(f){
    f.save().then( () =>
    webix.message('data saved'));
  })($$("frm1"));

}

const klikdel = function(){
  
  (function(l){
    var id = l.getSelectedId();
    l.remove(id);
    webix.message(id + " was removed from the list");    
  })($$("lst1"));

}
    
const klikrefresh = function(){
  (function(f,l){
    f.clear();
    l.clearAll();
    l.load(localurl);
      webix.message('data reload..');
  })($$("frm1"),$$("lst1"));


}

const klikadd = function(){
  
  (function(f,l){
    f.clear();
    l.unselectAll();
      webix.message('New record..');
  })($$("frm1"),$$("lst1"))
  

}

const tb = {
    view:"toolbar",
    id:"myToolbar",
    cols:[      
      {view: "button" ,width:35 ,type: "iconButton", icon: "wxi-search"},
      {view: "button" ,width:35 ,click: kliksave, type: "iconButton", icon: "wxi-check"},
      {view: "button",width:35 ,click: klikadd, type: "iconButton", icon: "wxi-plus"},
      {view: "button",width:35 ,click: klikdel, type: "iconButton", icon: "wxi-minus"},
      {template: "Master Items" , type:"section" , gravity: 0.2 }]
}


const frm1 =  { view:"form" , 
      id : "frm1" ,
      elements : frmitemEl
    }

const atitle = {view: "toolbar", 
                  id: "h1" ,
                  cols:[{template:"Miku Coffee" },{view:"button",click: klikrefresh, width:35 ,type: "iconButton", icon: "wxi-sync"}]                  
                 }

const afooter = {template: "(C) 2018 Miku Coffee" , type: "header"}

const aview = { view: "tabview",
                height: tinggi,
                cells: [{header: "Input Mode",id: "form", rows:[tb,frm1,{template: "* tidak perlu diisi (readonly)"}]},lst1]
              }

var isi = { width: 800,  type:"space", container: "grid-container" , rows:[atitle,aview,afooter]}    

webix.ui(isi);



webix.ready(function(){

  $$("frm1").bind($$("lst1"));

});
</script>