<div id='grid-container'></div>
<script>
const urlhdata = "/data/htrans";
const urlddata = "/data/dtrans";

const formatangka = "1,111.00";
const tinggi = 0;

var globalItemID;

/*
webix.i18n.parseFormat = "%c";

webix.i18n.dateFormat = "%Y-%m-%d";
webix.i18n.setLocale();


webix.i18n.parseFormat  = "%Y-%m-%d";
webix.i18n.setLocale("en-US");
*/

const table1 =  { view:"datatable" ,
     // width: 400, 
      id : "table1" ,            
      editable: true,
      save:  "myProxy->" + urlddata,
      math: true,
      select : true,
      footer: true,
      columns: [
  { id: "pitemdesc" , width: 130,header: "Makanan/Minuman" , map: "#positem.itemdesc#"  },
  { id: "pitemprices" , footer: { content: "summColumn",template: "Total Jumlah : " }, 
                 format:webix.i18n.numberFormat, css:{'text-align':'right'}, header: "Harga" , map: "#positem.itemprices#" },
  { id: "qty" ,  css:{'text-align':'right'}, editor: "text", header: "*Qty", sort: "int" },
  { id: "price", css:{'text-align':'right'}, editor: "text", header: "*Harga jual", sort: "int" },
  { id: "total", footer: { content: 'summColumn',css:{'text-align':'right'}}, css:{'text-align':'right'}, 
                 format:webix.i18n.numberFormat, header: "Jumlah", math:"[$r,:2] * [$r,:3]" },
  { id: "ddesc" , header: "*Keterangan", editor: "text", width: 100, fillspace: true }
               ]
    }


const kliksave = function(){
  
  (function(f){
    f.save().then( () =>
    webix.message('data saved'));
  })($$("table1"));

}

const klikdel = function(){
  
  (function(l){
    var id = l.getSelectedId();
    l.remove(id);
    webix.message(id + " was removed from the list");    
  })($$("table1"));

}
    
const klikrefresh = function(){
  (function(f,l){
   f.clearAll();
      f.load(urlddata + "/" + globalItemID);
      webix.message('data reload..');
  })($$("table1"),$$("lst1"));


}

const klikadd = function(){
  
  (function(f,t){
      let pilih = t.data.value;
      webix.ajax("/data/itemfinder/"+pilih,function(text,data){
           let hasil_id = data.json()[0].id;
           let hasil_harga = data.json()[0].harga;
           webix.ajax().post(urlddata ,
             { poshtranId : globalItemID, 
               positemId : hasil_id ,
               price: hasil_harga,
               qty : 1
             }
           );
           f.clearAll();
           f.load(urlddata + "/" + globalItemID);
           t.setValue("");
      });
  })($$("table1"),$$("cari"))
  

}

const topdf = function(){

   webix.toPDF($$("table1"),{
   columns: {pitemdesc: true,
     pitemprices: true,
     price: true,
     qty: true,
     total: true} ,  
     filename : "mikucoffee"
   }
   );
}

const tb = {
    view:"toolbar",
    id:"myToolbar",
    cols:[      
      {view: "button" ,width:35 ,click: klikrefresh ,type: "iconButton", icon: "wxi-sync"},
      {view: "button" ,width:35 ,click: kliksave, type: "iconButton", icon: "wxi-check"},
      {view: "button" ,width:35 ,click: klikdel, type: "iconButton", icon: "wxi-minus"},
      {view: "button" ,width:35 ,click: topdf, type: "iconButton", icon: "wxi-download"},
      {template: "Pemeliharaan data penjualan.." , type:"section" , gravity: 0.2 }]
}


const atitle = {view: "toolbar", 
                  id: "h1" ,
                  cols:[{view:"text", 
                         id: "cari", 
                         placeholder: "search items.." , 
                         suggest: { 
                           body: { 
                             dataFeed: function(text){
                                this.clearAll();
                                this.load("/data/itemfinder/" + text);                               
                               }
                             }
                         }},
                     {view:"button",click: klikadd, width:35 ,type: "iconButton", icon: "wxi-plus"}]                  
                 }

const afooter = {template: " " , type: "footer"}



const isi = { width: 600, type:"space" , rows:[atitle,table1,tb]}   



const frm1save = function(){
  
  (function(f,w,k){
    webix.ajax().post(urlhdata,f.getValues(), function(x) {
     var xj = JSON.parse(x);
     webix.message('Saved with transaction Id: ' + xj.id );
     w.hide();
     k.clearAll();
     k.load(urlhdata);
    }
    );
})($$("frmnewtrans"),$$("winnewtrans"),$$("kanban1"))
}

const frmnewtrans =  { view:"form" ,
      id : "frmnewtrans" ,                                
      elements : [
       {view: "datepicker" , stringResult: true, timepicker: true , labelWidth: 100, id: "date", name: "date", label: "Tanggal : "},
       {view: "text" , id: "text", labelWidth: 100, name: "text", label : "Nama Pembeli : "} ,
       {view: "combo" , id: "tags" , labelWidth: 100 , name: "tags" , value : "B" , 
                        options : [ { id: "B", value: "Minuman"},
                                    { id: "F" , value: "Makanan" },
                                    { id: "F&B" , value: "Makanan dan Minuman" }  
                        ]},
       {view:"toolbar", cols: [{view:"button", value: "Tambah", click: frm1save },
                               {view:"button", value: "Cancel" , click:"$$('winnewtrans').hide();" }]}      
      ]
    }


const kliknewtrans = function()
{
  (function(w,f){
    f.clear();
    f.setValues({ status : "new", tags : "B" });
    w.show();

  })($$("winnewtrans"),$$("frmnewtrans"));
}



webix.ui({
      container: "grid-container",
      height: 600,
      rows:[{ view: "toolbar" , id: "tb1", height: 40, 
            cols: [{view: "button" , click: kliknewtrans, width: 35, type: "iconButton" , icon: "wxi-plus"},
            {type: "section" , template: "Transaksi Penjualan - silahkan klik tombol [ + ] untuk data baru "}]},
            {view: "kanban" , type: "space" ,
             cols: [{ header: "Pesanan",
                      body: { view: "kanbanlist", status:"new"}},
                    { header: "Antaran",
                      body: {view: "kanbanlist", status:"srv"}},
                    { header: "Bayar",
                      body: {view: "kanbanlist", status:"end"}},
                    { header: "Cancel",
                      body: {view: "kanbanlist", status:"cnl"}}            
                  ],
         url: "myProxy->" +urlhdata,
         id: "kanban1"
          }    
  ]
  });


webix.ui({
  view: "window",
  id: "winnewtrans",
  top: 35,
  left: 280,
  move: true,
  modal: true,
  height: 350,
  widht: 300,
  body:  frmnewtrans,
  head:{
    view:"toolbar", cols:[
      {view:"label", label: "Tambah baru data penjualan" },
      {view:"button", type: "iconButton" , width: 30, icon: "wxi-close", align: 'right', click:"$$('winnewtrans').hide();"}
    ]
  }
});

webix.ui({
  view: "window",
  id: "win1",
  width: 600,
  height: 480,
  move: true,
  modal: true,
  left:200,
  top:20,
  body: isi,
  head:{
    view:"toolbar", cols:[
      {view:"label", label: "Data Penjualan" },
      {view:"button", type: "iconButton" , width: 30, icon: "wxi-close", align: 'right', click:"$$('win1').hide();"}
    ]
  }
});

webix.ready(function(){

/*

assigment button edit click

*/

$$("kanban1").attachEvent("onListIconClick", function(iconId, itemId,ev,node,list){
     var durl = urlddata + "/" + itemId;
     $$("table1").clearAll();
     $$("table1").load(durl);
     globalItemID = itemId;
     $$("win1").show();
    return false;
}); 

/*
  update status kanban
*/
$$("kanban1").attachEvent("onAfterStatusChange", function(itemId,status,list){
    webix.ajax().put(urlhdata + "/" + itemId , { status: status });
});


});
</script>