body{
	font-size:15px;
	font-family: Roboto;
	padding: 0; margin: 0;
	background: #fff;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.header{
	background: linear-gradient(225deg, rgba(22,93,243,0.9) 0, rgba(46,149,187,0.9) 64.39%, rgba(63,139,216,0.9) 100%);

	font-family: 'Roboto', sans-serif;
	font-size: 26px;
	font-weight: 300;
	color: #2C74D4;
	letter-spacing: 0;

	line-height: 33px;
	padding: 14px 20px;
	border-bottom: 1px solid #DFDFDF;
	margin: 0;
}

h1 a , h1 a:visited {
	color: white;
	text-decoration: none;
}

.header .docs{
	float:right;
	color: rgba(255,255,255,.7);
    font-size: 14px;
    font-weight: 500;
}
.header .docs:hover{
	color: white;
}

a, a:visited{
	color: #2095F3;
}